a {
      color: white;
      background-color: black;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-color: black;
      border-style: none;
      border-radius: 10px;
    }
    a:hover, a:active {
      border-style: inset;
    }
    body {
      background-color: white;
      color: black;
      text-align: center;
      font-family: Verdana, Tahoma, sans-serif;
    }
    .dark-mode {
      background-color: black;
      color: white;
    }
    /*This has the same design as the links*/
    #darkModeButton {
      background-color: black;
      color: white;
      border-color: white;
      padding: 7px 12px;
      border-radius: 20px;
    }
    h1 {
      background-color: black;
      color: white;
      font-family: Georgia, "Times New Roman", serif;
    }
