.container {
  position: relative;
}

input {
 width: 100px;
 height: 100px;
 text-align: center;
 font-size: 100px;
 font-weight: normal;
 border: 5px solid;
 
}

.firstbox {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 30px;
}

.secondbox {
  position: absolute;
  top: 5px;
  left: 125px;
  font-size: 30px;
}

.thirdbox {
  position: absolute;
  top: 5px;
  left: 245px;
  font-size: 30px;
}

.fourthbox {
  position: absolute;
  top: 5px;
  left: 360px;
  font-size: 30px;
  
}
