h1 {
  background-color: blue;
}

/* Stuff specifically for the grid */
.container {
  position: relative;
}

input {
 width: 100px;
 height: 100px;
 text-align: center;
 font-size: 100px;
 font-weight: normal;
 border: 5px solid;
 
}

.firstbox {
  position: absolute;
  top: 5px;
  left: calc(50% - 225px);
  font-size: 30px;
}

.secondbox {
  position: absolute;
  top: 5px;
  left: calc(50% - 110px);
  font-size: 30px;
}

.thirdbox {
  position: absolute;
  top: 5px;
  left: calc(50% + 10px);
  font-size: 30px;
}

.fourthbox {
  position: absolute;
  top: 5px;
  left: calc(50% + 130px);
  font-size: 30px;
  
}
