h1 {
  background-color: blue;
}

/* Stuff specifically for the grid */
.container {
  position: relative;
}

input {
 width: 20%;
 height: 20%;
 text-align: center;
 font-size: 100px;
 font-weight: normal;
 border: 5px solid;
 left: 50%;
 
}

.firstbox {
  position: absolute;
  top: 5px;
  left: 10%;
  font-size: 30px;
}

.secondbox {
  position: absolute;
  top: 5px;
  left: 30%;
  font-size: 30px;
}

.thirdbox {
  position: absolute;
  top: 5px;
  left: 53%;
  font-size: 30px;
}

.fourthbox {
  position: absolute;
  top: 5px;
  left: 75%;
  font-size: 30px;
  
}
