h1 {
  background-color: red;
}

.box {
  float: left;
  width: 30px;
  height: 30px;
  border-style: solid;
  border-color: black;
  font-size: 15px;
}

.dark-square {
  background-color: black;
  color: white;
}

.container {
  width: 396px;
  height: 396px;
  /* margin: auto keeps it centered */
  margin: auto;
  border-style: solid;
  border-color: black;
  text-align: left;
}
