h1 {
  background-color: red;
}

div {
  float: center;
  width: 30px;
  height: 30px;
  border-style: solid;
  border-color: black;
  font-size: 15px;
}

.container {
  width: 396px;
  height: 396px;
}

.dark-square {
  background-color: black;
  color: white;
}
